<!DOCTYPE html>
<html>
  <head>
    <title>Pjaxtest</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>My App</h1>

    <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

    <div id="pjax-container">
      <%= yield %>
    </div>
  </body>
</html>
